.pagination {
    display: flex;
    gap: 12px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.pageNumber {
    padding: 8px;
    border: none;
    background-color: rgb(27, 128, 128);
    border-radius: 4px;
    color: #fff;
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
        background-color: #fff;
        color: #868686;
        border: .5px solid #868686;
    }
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.arrow {
    width: 32px;
    border: none;
    border-radius: 12px;
    background-color: rgb(27, 128, 128);
    color: #fff;

    
    cursor: pointer;
    &:disabled {
        cursor: not-allowed;
        background-color: #fff;
        color: #868686;
        border: .5px solid #868686;
    }
}
