.categories {
    width: 100%;
    display: flex;
    gap: 8px;
    align-items: flex-start;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    .item,
    .active {
        display: flex;
        align-items: center;
        padding: 8px 16px;
        border: none;
        border-radius: 32px;
        background-color: #f2f4f5;
        text-transform: uppercase;
        border: 0.5px solid rgb(27, 128, 128);
    }
    .active {
        background-color: rgb(27, 128, 128);
        color: #f2f4f5;
    }
}

::-webkit-scrollbar {
    display: none;
}
