.header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    padding: 12px 24px;
    background-color: #fff;
    border-bottom: 1.5px solid #f2f4f5;

    .title {
        font-style: 28px;
        text-transform: uppercase;
        color: rgb(27, 128, 128);
    }
    .date {
        font-style: 16px;
    }
}
