.header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    padding: 12px 24px;
    // background-color: #fff;
    border-bottom: 1.5px solid rgb(30, 109, 212);

    .title {
        font-style: 28px;
        text-transform: uppercase;
        color: rgb(27, 128, 128);
    }
    .date {
        font-style: 16px;
        font-weight: 500;
        letter-spacing: 1.5px;
    }
}
